<h1><%= Artists %></h1>
<hr>

<h2><%= @artists.length <= 0 ? "No Artists have been added yet." : "" %></h2>
  
<ul>
  <% @artists.each do |artist| %>
    <li><%= artist.name %></li>
  <% end %>
</ul>

<%= link_to 'Add a new artist', new_artist_path %>
<%= link_to 'To Billboards', billboards_path) %>