<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<%= form_for [@billboard, @artist, @song] do |f| %>
  <%= f.label :song_name %>
  <%= f.text_field :song_name, required: true %>
  <br />
  <%= f.label :billboard_id %><br />
  <%= f.collection_select :billboard_id, Billboard.order(:title), :id, :title, include_blank: true %>
  <%= f.submit %>
<% end %>
