<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<%= form_with(model: [@artist, @song], local: true, class: 'ui form') do |f| %>
  <div class='field'>
  <%= f.label :song_name %>
  <%= f.text_field :song_name, required: true %>
  </div>

  <div class='field'>
  <%= f.label :artist_id %>
  <%= f.collection_select :artist_id, Artist.order(:name), :id, :name , :class => 'ui selection dropdown' %>
  </div>

  <div class='field'>
  <%= f.label :billboard_id %><br />
  <%= f.collection_select :billboard_id, Billboard.order(:title), :id, :title, include_blank: true, :class => 'ui selection dropdown' %>
  </div>

  <div class='field'>
  <%= f.label :rank %>
  <%= f.text_field :rank %>
  </div>

  <%= f.submit nil, class: 'ui button' %>
<% end %>
