<h1><%= @artist.name %></h1>
<p>Song List</p>


<% if @artist.songs %>
  <% @artist.songs.each do |song| %>
    <%= render 'songs/song', { song: song } %>
  <% end %>
<% else %>
    <p>No songs have been added to this artist yet. </p>
<% end %>

<%= link_to 'Add a new song', new_artist_song_path(@artist) %>
<br>
<hr>
<br>
<%= link_to "Back to Artist", artist_path(@artist) %>
<%= link_to "Billboards Home", billboards_path %>