
<div class='column', style='margin-top: 50px;'>

<h1 class='ui header'>Billboards</h1>
<hr>

<div class='ui cards'>
  
  <% @billboards.each do |billboard| %>
    <div class='card'>
    <div class='item'>
        <%= image_tag('music-placeholder-smallest.png') %>
        <span class='billboard-list'><%= billboard.title %></span>
        <%= link_to 'Show', billboard %>
      </div>
    </div>
  <% end %>
</div>

  <%= link_to 'Create new billboard', new_billboard_path(@billboard) %>
  <%= link_to 'Add an artist', new_artist_path %>
</div>

