<h1>Billboards</h1>
<hr>

<ul>

<%= @billboards.each do |billboard| %>

  <li class = 'list-group-item'><%= billboard.title %>

  <%= link_to 'Show Billboard', billboard_path(billboard) %></li>
<% end %>

</ul>

  <%= link_to 'Create new billboard', new_billboard_path(@billboard) %>
  <%= link_to 'Add an artist', new_artist_path %>


