<div class='column'>

<h1 class='ui header'>Billboards</h1>
<hr>


<div class='ui list'>

<%= @billboards.each do |billboard| %>

  <div class='item'><%= billboard.title %>

  <%= link_to 'Show Billboard', billboard_path(billboard) %></div>
<% end %>

</div>

  <%= link_to 'Create new billboard', new_billboard_path(@billboard) %>
  <%= link_to 'Add an artist', new_artist_path %>
</div>

