<h1><%= @billboard.title %></h1>


<p> billboard songs go here</p>



<p>What would you like to do?</p>

  <%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
  <%= link_to 'Delete Billboard', @billboard, method: :delete %>
  <%= link_to 'See Billboard Artists', billboard_artists_path(@billboard) %>
  <%= link_to 'Back to Billboards Home', billboards_path %>

