<h1><%= @billboard.title %></h1>

<% if @results != [] %>
<div class= 'ui list'>
  <%= @results.each do |result| %>
    <div class= 'item'><%= result.song_name %> - <%= result.name %></li>
  <% end %>
</div>
<% else %>
  <p> There are no songs on this billboard yet.</p>
<% end %>

  


<p>What would you like to do?</p>

  <%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
  <%= link_to 'Delete Billboard', @billboard, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to 'Back to Billboards Home', billboards_path %>

