<h1><%= @billboard.title %></h1>


<%= @results[0]['name'] %> - <%= @results[0]['song_name'] %>


  


<p>What would you like to do?</p>

  <%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
  <%= link_to 'Delete Billboard', @billboard, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to 'See Billboard Artists', billboard_artists_path(@billboard) %>
  <%= link_to 'Add a new artist', new_billboard_artist_path(@billboard) %>
  <%= link_to 'Back to Billboards Home', billboards_path %>

