<h1><%= @billboard.title %> - Songs</h1>
<hr>

<% if @results %>
  <div class= 'ui list'>
    <% @results.each do |result| %>
    <div class='item'><%= result.song_name %> - <%= result.name %></div>
    <% end %>
  </div>
<% else %>
  <p>There are no songs on this billboard yet.</p>
<% end %>




  <%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
  <%= link_to 'Delete Billboard', @billboard, :confirm => 'Are you sure?', :method => :delete %>
  <br>
  <hr>
  <br>
  <%= link_to 'Back to Billboards Home', billboards_path %>


