<h1><%= @billboard.title %></h1>
<hr>

<h2><%= @billboard.songs length <= 0 ? "There are no songs on this Billboard yet." : "" %></h2>

  


<p>What would you like to do?</p>

  <%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
  <%= link_to 'Delete Billboard', @billboard, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to 'Back to Billboards Home', billboards_path %>
  <%= link_to 'Add a Song to this billboard', new_billboard_songs_path(@billboard)

